// Colors
$color-black: #202020;
$color-primary: #202020;
$color-white: #F7F7F7;

// Font
$font-size-default: 14px;
$font-family-default: 'Nunito', sans-serif;

// Device sizing
$breakpoint-small: 640px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1600px !default;