@charset "utf-8";
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.ttf');
}
:root {
  --clr-green: #26BC9F;
  --clr-white: #F3F6F7;
  --clr-black: #232A34;
  --clr-gray: #7E8DA4;

  --font-main: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.nav-link a {
  margin: 0 .5rem 0 .5rem;
  color: var(--clr-black);
}
.nav-link a:hover {
  color: var(--clr-green);
}
.nav-link a.active {
  color: var(--clr-green);
  font-weight: bold;
}
#fullpage {
  height: 100vh;
  overflow: hidden;
}
#fullpage section {
  height: 100vh;
}
#fullpage section:nth-child(1) .wrapper {
  background-image: url('../images/bg_pattern.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50%;
}
#fullpage section:nth-child(1) .hero-img {
  width: 65%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#fullpage section:nth-child(1) .wrapper main a.btn {
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 40%);
}
/* #fullpage section:nth-child(2)::before, #fullpage section:nth-child(2)::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: var(--clr-white);
}
#fullpage section:nth-child(2)::before {
  left: -23rem;
}
#fullpage section:nth-child(2)::after {
  right: -23rem;
} */
.bg-img-1 img {
  width: 100%;
  object-fit: cover;
}
.bg-img-2 {
  background-image: url('../images/bg_pattern.png');
  background-repeat: no-repeat;
}

@media (min-width: 1028px) {
  .logo img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .sidebar-btn {
    display: none;
  }
  #sidebar {
    display: none;
  }
  .pict-2 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50%;
    height: 40%;
    background-color: var(--clr-white);
    transform: rotate(-15deg);
  }
}
@media (max-width: 1027px) {
  .logo img {
    width: 3rem;
    height: 3rem;
  }
  .sidebar-btn {
    display: none;
  }
  #sidebar {
    display: none;
  }
}
@media (max-width: 520px) {
  .nav-link {
    display: none !important;
  }
  .sidebar-btn {
    display: inline;
  }
  #sidebar {
    display: inline;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: var(--clr-green);
    opacity: 0;
    transition: .3s;
  }
  #sidebar.active {
    opacity: 1;
    visibility: visible;
  }
  .sidebar-nav a {
    margin: .25rem 0 .25rem 0;
    padding: 1rem 2rem 1rem 2rem;
    color: var(--clr-black);
    border-radius: 10rem;
  }
  .sidebar-nav a:hover {
    color: var(--clr-black);
    background-color: var(--clr-white);
  }
  .sidebar-nav a.active {
    color: var(--clr-black);
    background-color: var(--clr-white);
  }
}