@charset "utf-8";
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.ttf');
}
:root {
  --clr-green: #26BC9F;
  --clr-white: #F3F6F7;
  --clr-black: #232A34;
  --clr-gray: #7E8DA4;

  --font-main: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#nav .navigation li {
  margin: 0 .5rem 0 .5rem;
  display: inline;
}
#nav .navigation li a {
  color: var(--clr-black);
}
#nav .navigation li a:hover {
  color: var(--clr-green);
}
#nav .navigation li a.active {
  color: var(--clr-green);
}
#fullpage {
  height: 100vh;
  overflow: hidden;
}
#fullpage section {
  height: 100vh;
}
#fullpage section:nth-child(1) .wrapper {
  background-image: url('../images/bg_pattern.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50%;
}
#fullpage section:nth-child(1) .hero-img {
  width: 65%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#fullpage section:nth-child(1) .wrapper main a.btn {
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 40%);
}

/* Template */
.font-green {
  color: var(--clr-green);
}
.font-white {
  color: var(--clr-white);
}
.font-black {
  color: var(--clr-black);
}
.font-gray {
  color: var(--clr-gray);
}
.font-sm {
  font-size: .75rem;
}
.font-md {
  font-size: 1.15rem;
}
.font-lg {
  font-size: 1.5rem;
}
.font-xl {
  font-size: 2rem;
}
.font-2xl {
  font-size: 2.5rem;
}
.font-4xl {
  font-size: 3rem;
}
.my-bg-green {
  background-color: var(--clr-green);
}
.my-bg-white {
  background-color: var(--clr-white);
}
.my-bg-black {
  background-color: var(--clr-black);
}
.w-screen {
  width: 100vh;
}
.h-screen {
  height: 100vh;
}
/* End Template */